<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragmnet="accountTabs">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../../resources/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../../../resources/css/materialize.css"/>
    <link rel="stylesheet" th:href="@{/css/materializeCustomizer.css}"
          href="../../../resources/css/materializeCustomizer.css"/>
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script th:src="@{/script/main.js}" src="../../../resources/script/main.js"></script>
    <script th:src="@{/script/materialize.js}" src="../../../resources/script/materialize.js"></script>

</head>
<body>


<div class="container">
    <div class="row">
        <div th:fragment="tabsUser(user,requestedTickets,boughtTickets,rejectedTickets)">
            <div class="col s12 m12 l12">
                <ul class="tabs">
                    <li class="tab col s4"><a class="active" href="#test1">Account settings</a></li>
                    <li class="tab col s4"><a href="#test2">Requested tickets</a></li>
                    <li class="tab col s4"><a href="#test3">Bought tickets</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">

            </div>
            <div id="test2" class="col s12">
                <div th:each="event : ${requestedTickets}">
                    <div th:insert="~{fragments/indexContent :: eventFragment(event=${event})}"></div>
                </div>
                <div th:each="event : ${rejectedTickets}">
                    <div th:insert="~{fragments/indexContent :: eventFragmentRejected(event=${event})}"></div>
                </div>
            </div>
            <div id="test3" class="col s12">
                <div th:each="event : ${boughtTickets}">
                    <div th:insert="~{fragments/indexContent :: eventFragment(event=${event})}"></div>
                </div>
            </div>
        </div>

        <div th:fragment="tabsAdmin(user)">
            <div class="col s12 m12 l12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#test11">Account settings</a></li>
                    <li class="tab col s3"><a href="#test22">Bought tickets</a></li>
                    <li class="tab col s3"><a href="#test33">Users Tickets requests</a></li>
                    <li class="tab col s3"><a href="#test44">Manage users</a></li>
                </ul>
            </div>
            <div id="test11" class="col s12">
                Test 1
            </div>
            <div id="test22" class="col s12">
                Test 2
            </div>
            <div id="test33" class="col s12">
                Test 3
            </div>
            <div id="test44" class="col s12">
                Test 4
            </div>
        </div>
    </div>
</div>


</body>
</html>