<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragmnet="indexContent">>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../../resources/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../../../resources/css/materialize.css"/>
    <link rel="stylesheet" th:href="@{/css/materializeCustomizer.css}"
          href="../../../resources/css/materializeCustomizer.css"/>
    <script th:src="@{/script/main.js}" src="../../../resources/script/main.js"></script>
    <script th:src="@{/script/materialize.js}" src="../../../resources/script/materialize.js"></script>

</head>
<body>
<div class="container">
    <div th:fragment="eventFragment(event)">
        <div class="col s12 m12 l12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p th:text="${event.name}"></p>
                    </div>
                    <div class="card-content">
                        <p th:text="${event.description}"></p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="eventFragmentAdmin(event)">
        <div class="col s12 m12 l12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p th:text="${event.name}"></p>
                    </div>
                    <div class="card-content">
                        <p th:text="${event.description}"></p>
                    </div>
                    <div class="card-content">
                        <a class="waves-effect waves-light btn">button</a>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a for admin</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>