<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Please sign in</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../resources/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}" href="../../resources/css/materialize.min.css"/>
    <link rel="stylesheet" th:href="@{/css/materializeCustomizer.css}"
          href="../../resources/css/materializeCustomizer.css"/>


</head>
<body>
<div class="backgroundPhoto"></div>
<div class="container">
    <div class="row">
        <div class="col l6 offset-l3">
            <div class="card hoverable darken-1 registerCard">
                <div class="card-content black-text">
                    <form class="form-signin row" method="post" th:action="@{/login}">

                        <!--<div th:if="${param.error}">-->
                            <!--<div class="alert alert-danger">-->
                                <!--Invalid username or password.-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="col l12">
                            <h5>Please sign in</h5>
                        </div>
                        <div class="input-field col l12 s12">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control" required autofocus>
                        </div>
                        <div class="input-field col l12 s12">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>

                        <div class="col l12 m12 s12 button-wrapper">
                            <button class="waves-effect waves-light btn-large" name="register"
                                    type="submit">Sign in
                            </button>
                        </div>

                    </form>

                    <div class="row right-align">
                        <div class="col l12 m12 s12">
                            <label for="registerPage">Do not have an account?</label>
                        </div>
                        <div class="col l12 m12 s12">
                            <a href="register" id="registerPage" style="color: black">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>