<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <meta charset="utf-8">
    <title>Please sign in</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../resources/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}" href="../../resources/css/materialize.min.css"/>
    <link rel="stylesheet" th:href="@{/css/materializeCustomizer.css}"
          href="../../resources/css/materializeCustomizer.css"/>
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
</head>
<body>

<div class="welcomePhoto"></div>
<div class="container font-Staatliches">
    <div class="row">
        <div class=" col l6 m6 s6">

        </div>
        <div class="col l6 m6 s6 ">

            <div class="row ">
                <div class=" col l12 offset-l3 offset-m3 offset-s3">

                    <div class="col l12 ">
                        <h1>WELCOME TO TICKET APP</h1>
                    </div>

                    <div class="col l12 dashed-line">
                       <h4>A place where you can buy ticket for your dream concert,
                           event or movie. All in one place.</h4>
                    </div>

                    <div class="col l6 m6  s12 button-wrapper">
                        <a class="waves-effect waves-light btn-large button-large-text">LOG IN</a>
                    </div>
                    <div class="col l6 m6 s12 button-wrapper">
                        <a class="waves-effect waves-light btn-large button-large-text">REGISTER</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>