.backgroundPhoto{
    background-image: url('../photos/concert.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;

    /* START */
    /* START */
    /* START */
    /* START */

    /* You can adjust the blur-radius as you'd like */
    filter: blur(8px);
}
.button-wrapper{
    margin-top: 3rem;
}
.button-spacer{
    margin-top: 1.5rem;
}
.recaptcha-wrapper{
    margin-top: 2rem;

}
.error-message{
    color: #ff6d6d !important;
}
.welcomePhoto{
    /* Full height */
    background: url("../photos/welcomePagePhoto.jpg") no-repeat center;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;

}
.font-Staatliches{
    font-family: 'Staatliches', cursive;
}
.dashed-line{
    width: 100%;
    border-style: dashed;

}

.button-large-text{
    font-size: 5rem !important;
    height: 6rem !important;
    line-height: 6rem !important;
}

.spacer{
    height: 5rem;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}